#footer{
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    margin-top: 2%;
    margin-bottom: 0;
    box-shadow: 3px 2px 3px 5px #e0e0e0;
}

#footerMent{
    padding-top: 1.3%;
    margin-left: 2%;
}

#footerMent span{
    font-size: 0.9em;
}

#footer h6{
    float: right;
    margin-right: 2%;
}